<div class="row">
	<div class="large-12 columns">
		<div class="panel radius">
			<div class="row">
				<div class="large-12 columns">
					<h3>Add Participant</h3>
				</div>
			</div>
			<form id="newParticipant" class="custom">
				<div class="row">
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-2 columns">
								<span class="prefix left-radius">First Name:</span>
							</div>
							<div class="large-10 columns">
								<input type="text" name="firstName" class="right-radius" id="firstName" />
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-2 columns">
								<span class="prefix left-radius">Last Name:</span>
							</div>
							<div class="large-10 columns">
								<input type="text" name="lastName" class="right-radius" id="lastName" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-2 columns">
								<span class="prefix left-radius">Hometown:</span>
							</div>
							<div class="large-10 columns">
								<input type="text" class="right-radius" name="city" id="city" />
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-2 columns">
								<span class="prefix left-radius">State:</span>
							</div>
							<div class="large-10 columns">
								<select name="state" id="state">
									{{each states}}
									<option value="{{states.id}}">{{states.id}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				
				<div class="row">
					<div class="large-2 columns">
						<span class="prefix left-radius">Birth Year:</span>
					</div>
					<div class="large-10 columns">
						<input type="text" class="right-radius" name="profile_birth_year" />
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				
				<div class="row collapse">
					<div class="large-12 columns">
						<div class="switch-wrapper">
							<input type="radio" name="gender" value="male" checked="checked" id="field-gender-male" /><label for="field-gender-male">Female</label>
							<input type="radio" name="gender" value="2" id="field-gender-female" /><label for="field-gender-female">Male</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				
				<div class="row">
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-3 columns">
								<span class="prefix left-radius">Mother's Name:</span>
							</div>
							<div class="large-9 columns">
								<input type="text" class="right-radius" name="mother" />
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-3 columns">
								<span class="prefix left-radius">Father's Name:</span>
							</div>
							<div class="large-9 columns">
								<input type="text" class="right-radius" name="father" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				
				<div class="row">
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-3 columns">
								<span class="prefix left-radius">Current City:</span>
							</div>
							<div class="large-9 columns">
								<input type="text" class="right-radius" name="curr_city" />
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-3 columns">
								<span class="prefix left-radius">Current State:</span>
							</div>
							<div class="large-9 columns">
								<select class="right-radius" name="curr_state">
									{{each states}}
									<option value="{{states.id}}">{{states.id}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				
				<div class="row">
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-3 columns">
								<span class="prefix left-radius">Grade School:</span>
							</div>
							<div class="large-9 columns">
								<input type="text" class="right-radius" name="grade_school" />
							</div>
						</div>
					</div>
					<div class="large-6 columns">
						<div class="row collapse">
							<div class="large-3 columns">
								<span class="prefix left-radius">High School:</span>
							</div>
							<div class="large-9 columns">
								<input type="text" class="right-radius" name="high_school" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input type="submit" name="submit" class="button radius" value="Add Me To The Fun!" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>