<div class="row">
	<div class="large-12 columns">
		<div class="panel radius">
			<div class="row">
				<div class="large-12 columns">
					<h3>{{title}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					{{message}}
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<form id="ajax_confirm">
						<input type="hidden" name="redirect" value="{{url}}" />
						<input type="submit" class="confirm button radius" value="Yes" /><input type="submit" class="deny button radius" value="No" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>