<div class="row">
	<div class="large-12 columns radius" style="background:#fff;padding:10px;">
		<div class="row">
			<div class="large-12 columns">
				<strong>Note - If you chose to add a logo image, it will not show in the preview, but will appear in your live advertisement.</strong>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<p>Header Block</p>
				<div class="panel radius text-center" style="width:600px;">
					<a href="{{link}}" target="_blank"><img src="images/preview_logo.png" alt="Your logo here" title="Your logo here" /> {{title}}</a> - {{text}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns column-centered">
				<p>Slide-In Block</p>
				<div class="panel radius text-center" style="width:200px;">
					<div class="row">
						<div class="large-12 text-right">
							<a href="#">X</a>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns text-center">
							<a href="{{link}}" target="_blank">{{title}}</a>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns text-center">
							<img alt="ad_logo" src="images/preview_logo.png" alt="Your logo here" title="Your logo here" />
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							&nbsp;
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns text-center">
							{{text}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>