<div class="row">
	<div class="large-12 columns">
		<div class="panel radius">
			<div class="row">
				<div class="large-12 columns text-center">
					<iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{id}}?autoplay=1&origin=http://www.beansworthy.com" frameborder="0"/>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns text-center">
					<a href="{{advert_link}}">{{advert_title}}</a> - {{advert_text}}
				</div>
			</div>
		</div>
	</div>
</div>
