@import 'https://fonts.googleapis.com/css?family=Prosto+One';

body{
	background: #0a0a0a;
	color: #fefefe;
}

a{
	color: #cb0202;
}

a:hover,a:focus{
	color: #e73232;
}

.button {
	font-family:"Prosto One";
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  background-color: #cb0202;
  color: #0a0a0a; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #e73232;
    color: #fefefe; }

.row .even{
	background-color: #373534;
}

.callout.secondary{
	background: #373534;
	color: #fefefe;
	border: 1px solid #e73232;
}

.is-accordion-submenu-parent > a::after {
    border-color: #e73232 transparent transparent;
}

#header{
	height: 185px;
	background: transparent url(../images/umbrella.png) no-repeat 0 0;
}

#header h3{
	margin-top: 75px;
	letter-spacing: 0.1em;
	padding-bottom: 0;
	margin-bottom:0;
	font-family: "Prosto One";
	vertical-align: text-bottom;
	text-decoration: normal;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 10px #ffffff ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
}

#header h5{
	font-family: "Prosto One";
	line-height: 1.1em;
	transform: scaleY(0.7);
	-webkit-transform: scaleY(0.7);
	-moz-transform: scaleY(0.7);
	text-decoration: normal;
	text-shadow: 0 0 10px rgba(0,0,0,1) , 0 0 10px #ffffff ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.78, 1);
}

.even{
	background-color: #ccd5b4;
}

.activity{
	width: 32px;
	height: 32px;
	clear: both;
}

.active{
	background-color: green;
}

.moderate{
	background-color: yellow;
}

.inactive{
	background-color: orange;
}

.dormant{
	background-color: red;
}

.misted{
	background-color: green;
}

.chartContainer{
	height: 300px;
}

.chart{
	width:200px;
	height: 200px;
}

.donations,.chart{
	position: relative;
	color:#ABC084;
	font-size:50px;
	font-weight:bold;
	float:left;
	height:200px;
	line-height:200px;
}

.donations{ text-align:right; width:340px;}
.comments{ margin-top:60px;}
.entry{ margin-bottom:50px;}

.comment{
	background-color:#edf2e4;
	padding:20px;
	position:relative;
	margin-bottom:20px;
}

.name{
	color:#639600;
	font-size:24px;
	font-style:italic;
	font-weight:bold;
	position:relative;
}

.name a.url{
	color:#C0D39C;
	font-weight:normal;
	padding-left:10px;
}

.tip{
	width:0;
	height:0;
	bottom:-40px;
	left:20px;

	/* A neat CSS trick which creates a triangle shape*/
	/* from the div's top border */

	border:20px solid #f9faf7;
	border-width:20px 15px;
	border-top-color:#cb0202;
	position:absolute;
}