<!-- INCLUDE header.html -->
<div class="row">
	<!-- INCLUDE left_column.html -->
	<div class="large-9 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>Stats</h3>
					<div class="row">
						<div class="large-4 columns">
							<div class="row">
								<div class="large-12 columns text-center">
									<strong>Most Might</strong>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns text-center">
									<a href="{U_MAX_MIGHT_PLAYER}">{S_MAX_MIGHT_PLAYER}</a>: {S_MAX_MIGHT_PLAYER_MIGHT}
								</div>
							</div>
						</div>
						<div class="large-4 columns">
							<div class="row">
								<div class="large-12 columns text-center">
									<strong>Most Glory</strong>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns text-center">
									<a href="{U_MAX_GLORY_PLAYER}">{S_MAX_GLORY_PLAYER}</a>: {S_MAX_GLORY_PLAYER_GLORY}
								</div>
							</div>
						</div>
						<div class="large-4 columns">
							<div class="row">
								<div class="large-12 columns text-center">
									<strong>Most Lifetime Glory</strong>
								</div>
							</div>
							<div class="row">
								<div class="large-12 columns text-center">
									<a href="{U_MAX_LIFE_GLORY_PLAYER}">{S_MAX_LIFE_GLORY_PLAYER}</a>: {S_MAX_LIFE_GLORY_PLAYER_GLORY}
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="large-12 columns">
							&nbsp;
						</div>
					</div>
					<div class="row">
						<div class="large-4 columns text-center">
							Allianced Players counted:<br />{ALLIED_PLAYER_CT}
						</div>
						<div class="large-4 columns text-center">
							Unallianced Players counted:<br />{UNALLIED_PLAYER_CT}
						</div>
						<div class="large-4 columns text-center">
							Alliances counted:<br />{ALLI_CT}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>I liked Kocmon. It went away. I'm re-creating it.</h3>
					<p>If something doesn't work, don't freak out. If you have issues, hit me up on the facebook page. Donate, if you can. ;)</p>
					<a href="https://greasyfork.org/en/scripts/19269-kocbyte">Make KoC a more dangerous place.</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>Wanna be a Beta Tester?</h3>
					<p>So, I've got this game I'm building. It's a lot like KoC was before all the throne room and champion hall stuff. There's not a lot you can really do with it at this point other than build some stuff, but I need beta testers to muck around in the game and report bugs and whatnot. If you interested, you can go <a href="https://www.facebook.com/conquest.of.camelot">here</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- INCLUDE footer.html -->