<!-- INCLUDE header.html -->
<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>KoCByte is Shut down.</h3>
					<p>That's right. I can't afford the upgrade needed for the server, and since I'm a firm believer that if you can't do something right, you shouldn't do it, the server is shut down until I get the required funds. It will probably be with income tax returns, so don't hold your breath; could be a couple of months.</p>
					<a href="https://greasyfork.org/en/scripts/19269-kocbyte">Make KoC a more dangerous place.</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>Wanna be a Beta Tester?</h3>
					<p>So, I've got this game I'm building. It's a lot like KoC was before all the throne room and champion hall stuff. There's not a lot you can really do with it at this point other than build some stuff, but I need beta testers to muck around in the game and report bugs and whatnot. If you interested, you can go <a href="https://www.facebook.com/conquest.of.camelot">here</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- INCLUDE footer.html -->