<!-- INCLUDE header.html -->
<div class="row">
	<!-- INCLUDE left_column.html -->
	<div class="large-9 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>Help a dev out...</h3>
					<p>All this costs money. Server costs, security certificates, domain names, etc, etc. If you use KoCByte and find it helpful, and also find yourself in a position to help me out on supporting this thing, please, feel free to donate at the link below.</p>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="JTD8WMUCKEADU">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<h3>The Donor List</h3>
					<h4>Folks Who Showed Their Support</h4>

					<div class="comments">
						<!-- IF .c -->
						<!-- BEGIN c -->
						<div class="entry">
                            <div class="name">
                                {c.NAME}
                            </div>
                        </div>
                        <!-- END c -->
                        <!-- ELSE -->
                        <p>No comments.</p>
                        <!-- ENDIF -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- INCLUDE footer.html -->