<!-- INCLUDE header.html -->
<div class="row">
	<!-- INCLUDE left_column.html -->
	<div class="large-9 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="callout secondary">
					<div class="fb-page" data-href="https://www.facebook.com/kocbyte/" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
						<div class="fb-xfbml-parse-ignore">
							<blockquote cite="https://www.facebook.com/kocbyte/">
								<a href="https://www.facebook.com/kocbyte/">Kocbyte</a>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- INCLUDE footer.html -->